@using LibraryManage.Models
@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            @*<th scope="col">ID Book</th>*@
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Publishing Year</th>
            <th scope="col">Publishing Location</th>
            <th scope="col">Type</th>
            @*<th scope="col">Date add to library</th>*@
            <th scope="col">Location in library</th>
            @*<th scope="col">Notes</th>*@
            <th scope="col">Picture</th>
            <th scope="col"> </th>
        </tr>
    </thead>
    @foreach (var b in Model)
    {
        <tbody>
            <tr>
                @*<td scope="col">@b.ID_Book</td>*@
                <td scope="col">@b.Name</td>
                <td scope="col">@b.Description</td>
                <td scope="col">@b.Publishing_Year</td>
                <td scope="col">@b.Publishing_Location</td>
                <td scope="col">@b.Type</td>
                @*<td scope="col">@b.Date_add_to_library</td>*@
                <td scope="col">@b.Location_in_library</td>
                <td scope="col">
                    <img style="width: 100px; height: 100px;" src="@("https://localhost:44335/" + b.PathImage)" />
                </td>
                <td scope="col">Edit Delete</td>
            </tr>
        </tbody>        
    }
</table>

