<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Icon/open-iconic-master/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="logo">
                @*<a href="#">
                    <img src="https://localhost:44335/Images/logo.png" />
                </a>*@
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Library Manage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>            
            <div class="navbar-collapse collapse">                 
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                    <li>@Html.ActionLink("ABOUT US", "About", "Home")</li>
                    <li>@Html.ActionLink("OUR BOOK", "Index", "Books")</li>
                    <li>@Html.ActionLink("CONTACT US", "Contact", "Home")</li>
                    @if (this.Session["UserProfile"] != "" && (this.Session["Type"].Equals("Manager") || this.Session["Type"].Equals("Employee")))
                    {
                        <li>@Html.ActionLink("USERS MANAGER", "UserAccount", "Users")</li>
                    }
                    @*@if (this.Session["UserProfile"] != "" && this.Session["Type"].Equals("Manager"))
        {
            <li>@Html.ActionLink("DASHBOARD", "", "")</li>
        }*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (this.Session["UserProfile"] != "")
                    {
                        <li>
                            <a href="#">HELLO @Session["UserProfile"] (@Session["Type"])</a>
                        </li>
                        <li>@Html.ActionLink("LOG OUT", "Logout", "RegisterLogin")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("REGISTER", "Register", "RegisterLogin")</li>
                        <li>@Html.ActionLink("LOGIN", "Login", "RegisterLogin")</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer-background-color">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget widget-text">
                            <h2>ABOUT US</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                            <ul class="widget-text">
                                <li>
                                    <i class="glyphicon-chevron-down col-md-2"></i>
                                    <p class="col">SALA, District 2</p>
                                </li>
                                <li>
                                    <i class="glyphicon-chevron-left col-md-2"></i>
                                    <p class="col">0909123456</p>
                                </li>
                                <li>
                                    <i class="glyphicon-chevron-up col-md-2"></i>
                                    <p class="col">infobookstore@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget widget-text">
                            <h2>INFORMATION</h2>
                            <ul class="padding-left widget-text">
                                <li class="">
                                    <a href="">SPECIALS</a>
                                </li>
                                <li class="border-top">
                                    <a href="">NEW PRODUCT</a>
                                </li>
                                <li class="border-top">
                                    <a href="">BEST SELLERS</a>
                                </li>
                                <li class="border-top">
                                    <a href="">CONTACT US</a>
                                </li>
                                <li class="border-top">
                                    <a href="">TERMS OF USE</a>
                                </li>
                                <li class="border-top">
                                    <a href="">SITEMAP</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget widget-text">
                            <h2>NEWSLETTER</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                            <input class="widget-new-letter" type="text" placeholder="EMAIL ID" />
                            <button class="button-footer">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Applicationnn</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
