@using LibraryManage.Models
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account</h2>

<ul>
    <li>@Model.Username<li>
    <li>@Model.Password</li>
    <li>@Model.ID_Users</li>
    <li>@Model.First_Name</li>
    <li>@Model.Last_Name</li>
    <li>@Model.Type</li>
    <li>@Model.Date_of_Birth</li>
    <li>@Model.Notes</li>
</ul>