
@using LibraryManage.Models
@{
    //ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<ul>
        <li>@Model.ID_User</li>
        <li>@Model.First_Name</li>
        <li>@Model.Last_Name</li>
        <li>@Model.Sex</li>
        <li>@Model.Date_of_Birth</li>
        <li>@Model.Type</li>
        <li>@Model.Faculty</li>
        <li>@Model.Production_Date</li>
        <li>@Model.Expiration_Date</li>
        <li>@Model.Email</li>
        <li>@Model.Address</li>
        <li>@Model.Phone_Number</li>
        <li>@Model.Notes</li>
    </ul>

